{{ form_start(form) }}
<div class="row">
	<div class="col-md-3">
		<div class="col-sm-1">
			<img class="avatar" src="{{ vich_uploader_asset(candidate, 'pictureFile') }}" alt="{{ candidate.name }} {{ candidate.firstname }}"/>
		</div>
	</div>
	<div class="col-md-9">
		<h1>{{candidate.name}}
			{{candidate.firstname}}</h1>
	</div>
</div>


<div class="row">
	<div class="col-md-4">{{ form_row(form.teeshirt) }}</div>
	<div class="col-md-4">{{ form_row(form.sweat) }}</div>
	<div class="col-md-4">{{ form_row(form.waitingPants) }}</div>
</div>

<div class="row">
	<div class="col-md-4">{{ form_row(form.fireJacket) }}</div>
	<div class="col-md-4">{{ form_row(form.fireGloves) }}</div>
	<div class="col-md-4">{{ form_row(form.firePants) }}</div>
</div>

<div class="row">
	<div class="col-md-4">{{ form_row(form.rubberBoots) }}</div>
	<div class="col-md-4">{{ form_row(form.rangerBoots) }}</div>
</div>

<button class="btn btn-success">
	<span class="d-sm-none">
		<i class="fas fa-save"></i>
	</span>
	<span class="d-none d-sm-block">{{button_label|default('Enregistrer')}}</span>
</button>
{{ form_end(form) }}
