{% extends 'base.html.twig' %}

{% block title %}
	{% if job == 'reception' %}
		BraveFinder : Secrétariat
	{% elseif job == 'mesure' %}
		BraveFinder : Mesure
	{% elseif job == 'office' %}
		BraveFinder : Administratif
	{% endif  %}
{% endblock %}

{% block body %}
	<div class="jumbotron text-center">
		{% if job == 'reception' %}
			<h1>Accueil des candidats</h1>
		{% elseif job == 'mesure' %}
			<h1>Mesure des candidats</h1>
		{% elseif job == 'office' %}
			<h1>Données administratives</h1>
		{% endif  %}

		{% include "candidate/_form_candidateSearch.html.twig" %}

		{{form_end(form)}}
	</div>
	<div class="container body-container">
		<div class="row">
			<div class="col-sm-12" id="main">
				<table class="table">
					<tbody>
						{% for candidate in candidates %}
							{% if job == 'reception' %}
								<tr>
									<td class="col-sm-1">
										<a href="{{ path('secretariat.reception.edit', {'id': candidate.id}) }}" class="href">
											<img class="avatar" src="{{ vich_uploader_asset(candidate, 'pictureFile') }}" alt="{{ candidate.name }} {{ candidate.firstname }}"/>
										</a>
									</td>
									<td class="col-sm-7 align-middle h5">
										<a href="{{ path('secretariat.reception.edit', {'id': candidate.id}) }}" class="href">
											{{ candidate.name }}
											{{ candidate.firstname }}
										</a>
									</td>
									<td class="col-sm-4 align-middle">
										<a href="{{ path('secretariat.reception.edit', {'id': candidate.id}) }}">
											<button class="btn btn-info">
												<span class="d-sm-none">
													<i class="fas fa-eye"></i>
												</span>
												<span class="d-none d-sm-block">Arrivée du candidat</span>
											</button>
										</a>
									</td>
								</tr>

							{% elseif job == 'mesure' %}
								<tr>
									<td class="col-sm-1">
										<a href="{{ path('secretariat.mesure.edit', {'id': candidate.id}) }}" class="href">
											<img class="avatar" src="{{ vich_uploader_asset(candidate, 'pictureFile') }}" alt="{{ candidate.name }} {{ candidate.firstname }}"/>
										</a>
									</td>
									<td class="col-sm-7 align-middle h5">
										<a href="{{ path('secretariat.mesure.edit', {'id': candidate.id}) }}" class="href">
											{{ candidate.name }}
											{{ candidate.firstname }}
										</a>
									</td>
									<td class="col-sm-4 align-middle">
										<a href="{{ path('secretariat.mesure.edit', {'id': candidate.id}) }}">
											<button class="btn btn-info">
												<span class="d-sm-none">
													<i class="fas fa-tshirt"></i>
												</span>
												<span class="d-none d-sm-block">Mesures du candidat</span>
											</button>
										</a>
									</td>
								</tr>

							{% elseif job == 'office' %}
								<tr>
									<td class="col-sm-1">
										<a href="{{ path('secretariat.administratif.edit', {'id': candidate.id}) }}" class="href">
											<img class="avatar" src="{{ vich_uploader_asset(candidate, 'pictureFile') }}" alt="{{ candidate.name }} {{ candidate.firstname }}"/>
										</a>
									</td>
									<td class="col-sm-7 align-middle h5">
										<a href="{{ path('secretariat.administratif.edit', {'id': candidate.id}) }}" class="href">
											{{ candidate.name }}
											{{ candidate.firstname }}
										</a>
									</td>
									<td class="col-sm-4 align-middle">
										<a href="{{ path('secretariat.administratif.edit', {'id': candidate.id}) }}">
											<button class="btn btn-info">
												<span class="d-sm-none">
													<i class="fas fa-id-card"></i>
												</span>
												<span class="d-none d-sm-block">Administratif du candidat</span>
											</button>
										</a>
									</td>
								</tr>
							{% endif  %}
						{% else %}
							<tr>
								<td colspan="4">Pas d'enregistrement</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
