<h2 class="mt-5 text-dark text-hover-primary fs-2 fw-bolder">{{ title }}</h2>
<div class="table-responsive">
    <table class="table align-middle table-row-dashed fs-6 gy-5" id="evaluation_list_{{ status }}">
        <thead>
        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
            <th class="min-w-125px">{{ 'Name'|trans }}</th>
            <th class="min-w-125px">{{ 'Practice'|trans }}</th>
            <th class="min-w-125px">{{ 'Evaluation'|trans }}</th>
            <th class="min-w-50px text-center">{{ 'status'|trans }}</th>
            <th class="text-end min-w-125px">Actions</th>
        </tr>
        </thead>
        <tbody class="text-gray-600 fw-bold">
        {% for evaluation in evaluations %}
            {% set picture = evaluation.candidate.picture? vich_uploader_asset(evaluation.candidate, 'pictureFile'):asset('media/avatars/blank.png')  %}
            {% if evaluation.validate == status %}
            <tr>
                <td class="d-flex align-items-center">
                    <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                        <div class="symbol-label">
                            <img src="{{ picture | imagine_filter('image_thumb') }}"
                                 class="w-100"/>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <span class="text-gray-800 text-hover-primary mb-1">{{ evaluation.candidate.firstname ~ ' ' ~ evaluation.candidate.name }}</span>
                    </div>
                </td>
                <td class="">
                    <span>{{ evaluation.practice.name }}</span>
                </td>
                <td class="">
                    <div class="rating">
                        {% for i in 1..5 %}
                            <div class="rating-label me-2 {{ i <= evaluation.rate? 'checked' }}">
                                <i class="bi bi-star-fill fs-1"></i>
                            </div>
                        {% endfor %}
                    </div>
                </td>
                <td class="text-center">
                    <span><i class="fa fa-{{ evaluation.validate? 'check text-success':'times text-warning' }}"></i></span>
                </td>
                <td class="text-end">
                    <a href="{{ path('evaluation.edit', {'id': evaluation.id}) }}"
                       class="btn btn-sm btn-light-primary">
                        <i class="fa fa-file-alt"></i>
                        {{ 'Evaluation du candidat'|trans }}</a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="4">Pas d'enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
