{% extends 'base.html.twig' %}
{% block title %}
	BraveFinder : Evaluation
{% endblock %}


{% block content %}
	<div class="row gy-5 g-xl-8">
		<div class="col-xl-8">
			<div class="card mb-5 mb-xl-8">
				<div class="card-header border-0 pt-5">
					<div class="card-title align-items-start flex-column">
						<h1>
							<span class="card-label fw-bolder fs-2 mb-1 text-primary">{{ 'Evaluation'|trans ~ ' ' ~ evaluation.practice.name |lower }}</span>
							<span class="fs-3">{{ evaluation.candidate }}</span>
						</h1>
					</div>
				</div>
				<div class="card-body py-3">
					{{ include('entretien/_form.html.twig') }}
				</div>
			</div>
		</div>

		<div class="col-xl-4">
			<div class="card card-xl-stretch mb-5 mb-xl-8">
				<div class="card-header border-0 pt-5">
					<h3 class="card-title align-items-start flex-column">
						<span class="card-label fw-bolder text-dark">{{ 'Evaluations'|trans }}</span>
						<span class="text-muted mt-1 fw-bold fs-7">{{ 'Completed evaluations'|trans }}</span>
					</h3>
				</div>
				<div class="card-body pt-5">
					{% for evaluation in evaluations %}
					<div class="d-flex align-items-sm-center mb-7 bg-light-{{ evaluation.validate?'success':'danger'}} p-2 rounded">
						<div class="d-flex align-items-center flex-row-fluid flex-wrap">
							<div class="flex-grow-1 me-2">
								<a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">{{evaluation.practice.name}}</a>
								{% if evaluation.validate %}
									<span class="text-muted fw-bold d-block fs-7">{{evaluation.comment|nl2br}}</span>
								{% else %}
									<span class="text-danger fw-bold d-block fs-7">{{ 'Evaluation not completed yet' }}</span>
								{% endif %}
							</div>
							<span class="badge badge-success fw-bolder my-2">{{ evaluation.rate }}</span>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}