{% extends 'base.html.twig' %}
{% block title %}BraveFinder : Liste des exercices
{% endblock %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>Exercice</h1>
	</div>
	<div class="container body-container">
		<div class="row">
			<div class="col-sm-9" id="main">
				<table class="table">
					<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for practice in practices %}
							<tr>
								<td>{{ practice.name }}</td>
								<td>{{ practice.description }}</td>
								<td>
									<a href="{{ path('practice.edit', {'id': practice.id}) }}">
										<button class="btn btn-info">
											<span class="d-sm-none">
												<i class="fas fa-edit"></i>
											</span>
											<span class="d-none d-sm-block">Edition</span>
										</button>
									</a>

									<form method="post" action="{{ path('practice.delete',{id: practice.id}) }}" style="display: inline-block" onsubmit="return confirm('Voulez-vous supprimer ce élément ?');">
										<input name="_method" type="hidden" value="DELETE"/>
										<input type="hidden" name="_token" value="{{ csrf_token('practice.delete' ~ practice.id) }}"/>
										<button class="btn btn-danger">
											<span class="d-sm-none">
												<i class="fas fa-trash-alt"></i>
											</span>
											<span class="d-none d-sm-block">Supprimer</span>
										</button>
									</form>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="4">Pas d'enregistrement</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="text-right">
					<a href="{{ path('practice.new') }}">
						<button class="btn btn-success">
							<span class="d-sm-none">
								<i class="fas fa-plus-square"></i>
							</span>
							<span class="d-none d-sm-block">{{button_label|default('Nouveau')}}</span>
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
