<link type="text/css" href="./css/pdf.css" rel="stylesheet"/>

<style type="text/css"></style>

<page backcolor="#ff7b4e">
	<page_header>
		<h1 class="title">
			RDISMN
		</h1>
	</page_header>
	<page_footer></page_footer>
	<br><br>
	<br><br><br><br><br><br><br><br>

	<br><br><br><br><br><br><br><br>

	<br><br><br><br><br><br><br><br>

	<h1 class="title">RAPPORT DE RECRUTEMENT
		{{ "now"|date("Y") }}</h1>
</page>

{% for candidate in candidates %}
	<page backtop="7mm" backbottom="7mm" backleft="10mm" backright="10mm">
		<page_header></page_header>

		<page_footer>
			<table style="width: 100%; border: solid 1px black;">
				<tr>
					<td style="text-align: left; width: 50%">Copyleft : Kimbaloo Soft</td>
					<td style="text-align: right; width: 50%">page [[page_cu]]/[[page_nb]]</td>
				</tr>
			</table>
		</page_footer>
		<hr>
		<table class="page_header">
			<tr>
				<td align="left" style="text-align: right; width: 55%" rowspan="2">
					{% if candidate.engaged %}
						<img src="./img/approuved.png" alt="Accepté" height="80" width="80">
					{% else %}
						<img src="./img/rejected.png" alt="Refusé" height="80" width="80">
					{% endif %}
				</td>
				<td style="text-align: right;">
					<span style="font-weight: bold; font-size: 20pt; background: black; color: white;">{{ candidate.firstname }}
						{{ candidate.name }}</span>
				</td>
			</tr>
			<tr>
				<td style="">
					<img src=".{{vich_uploader_asset(candidate, 'pictureFile') }}" alt="Portrait" height="55" width="55">
				</td>
			</tr>
		</table><hr><br><table class="big_table">
			<tr>
				<td class="small">Rue</td>
				<td class="big">{{candidate.street}}</td>
				<td class="small">n°</td>
				<td class="big">{{candidate.housenumber}}</td>
			</tr>
			<tr>
				<td>NPA</td>
				<td>{{candidate.zip}}</td>
				<td>Ville</td>
				<td>{{candidate.city}}</td>
			</tr>
			<tr>
				<td>Téléphone</td>
				<td>{{candidate.phone}}</td>
				<td>Mobile</td>
				<td>{{candidate.mobile}}</td>
			</tr>
			<tr>
				<td>Courriel</td>
				<td>{{candidate.mail}}</td>
				<td>Date de naissance</td>
				<td>{{candidate.birthdate is empty ? "": candidate.birthdate|date("d/m/Y")}}</td>
			</tr>
		</table><br><table class="big_table">
			<tr>
				<td class="small">Tee-shirt</td>
				<td class="big">{{candidate.teeshirt}}</td>
				<td class="small">Sweatshirt</td>
				<td class="big">{{candidate.sweat}}</td>
			</tr>
			<tr>
				<td>Pantalon d'attente</td>
				<td>{{candidate.waitingPants}}</td>
				<td>Veste feu</td>
				<td>{{candidate.fireJacket}}</td>
			</tr>
			<tr>
				<td>Gants feu</td>
				<td>{{candidate.fireGloves}}</td>
				<td>Pantalon feu</td>
				<td>{{candidate.firePants}}</td>
			</tr>
			<tr>
				<td>Bottes caoutchouc</td>
				<td>{{candidate.rubberBoots}}</td>
				<td>Bottes ranger</td>
				<td>{{candidate.rangerBoots}}</td>
			</tr>
			<tr>
				<td>Tour de tête</td>
				<td>{{candidate.HeadCircumference}}</td>
			</tr>
		</table><br><table class="big_table">
			<tr>
				<td class="small">N° AVS</td>
				<td class="big">{{candidate.SocialNumber}}</td>
				<td class="small">Lieu d'origine</td>
				<td class="big">{{candidate.originName}}</td>
			</tr>
			<tr>
				<td>Iban</td>
				<td>{{candidate.Iban}}</td>
				<td>Banque</td>
				<td>{{candidate.BankName}}</td>
			</tr>
			<tr>
				<td>Filière</td>
				<td>{{candidate.PathWay}}</td>
				<td>Affectation</td>
				<td>{{candidate.Station}}</td>
			</tr>
			<tr>
				<td>Formation</td>
				<td>{{candidate.Education}}</td>
			</tr>
		</table><br><table class="big_table">
			{% for evaluation in candidate.evaluations %}
				{% if evaluation.practice.name != 'Entretien' %}
					<tr>
						<td style="width : 15%">
							<div style="background-color : #DDDDDD; border-radius : 5px; padding-left : 3px;">{{evaluation.practice.name}}</div>
						</td>
						<td style="width : 15%;">
							<div style="background-color : #DDDDDD">
								{% for i in 1..5 %}
									{% if i <= evaluation.rate %}
										<img src="./img/star_mini_full.png" alt="StarFull" height="15" width="15">
									{% else %}
										<img src="./img/star_mini_empty.png" alt="StarEmpty" height="15" width="15">
									{% endif %}
								{% endfor %}
							</div>
						</td>
						<td style="width : 70%;">{{evaluation.comment}}</td>
					</tr>
				{% endif %}
			{% endfor %}
		</table><br><br><table class="big_table">
			{% for evaluation in candidate.evaluations %}
				{% if evaluation.practice.name == 'Entretien' %}
					<tr>
						<td style="width : 15%">
							<div style="background-color : #DDDDDD; border-radius : 5px; padding-left : 3px;">{{evaluation.practice.name}}</div>

						</td>
						<td style="width : 15%;">
							<div style="background-color : #DDDDDD">
								{% for i in 1..5 %}
									{% if i <= evaluation.rate %}
										<img src="./img/star_mini_full.png" alt="StarFull" height="15" width="15">
									{% else %}
										<img src="./img/star_mini_empty.png" alt="StarEmpty" height="15" width="15">
									{% endif %}
								{% endfor %}
							</div>
						</td>
						<td style="width : 70%;">{{evaluation.comment}}</td>
					</tr>
				{% endif %}
			{% endfor %}
		</table>
	</page>
{% endfor %}
