{{ form_start(form) }}
<div class="row shadow p-3 mb-5 bg-light rounded">
	<div class="col-md-4">{{ form_row(form.name) }}</div>
	<div class="col-md-4">{{ form_row(form.firstname) }}</div>
	<div class="col-md-3">{{ form_row(form.birthdate, {'attr': {'data-provider':'datepicker' }}) }}
	</div>
</div>

<div class="row shadow p-3 mb-5 bg-light rounded">
	<div class="col-md-5">{{ form_row(form.street) }}</div>
	<div class="col-md-1">{{ form_row(form.houseNumber) }}</div>
	<div class="col-md-1">{{ form_row(form.zip) }}</div>
	<div class="col-md-5">{{ form_row(form.city) }}</div>
</div>

<div class="row shadow p-3 mb-5 bg-light rounded">
	<div class="col-md-3">{{ form_row(form.mobile) }}</div>
	<div class="col-md-3">{{ form_row(form.phone) }}</div>
	<div class="col-md-6">{{ form_row(form.mail) }}</div>
</div>

<div class="row shadow p-3 mb-5 bg-light rounded">
	<div class="col-md-3">
		<div class="avatar2">
			{{ form_row(form.pictureFile) }}
		</div>
	</div>
	<div class="col-md-3 custom-control custom-switch">
		{{ form_row(form.onSite, {'label_attr': {'class':'custom-control-label' }}) }}
	</div>
</div>

<button class="btn btn-success">
	<span class="d-sm-none">
		<i class="fas fa-save"></i>
	</span>
	<span class="d-none d-sm-block">{{button_label|default('Enregistrer')}}</span>
</button>
{{ form_end(form) }}
