{% extends 'base.html.twig' %}

{% block title %}BraveFinder : {{ 'User list' }}{% endblock %}
{% block header_title %}{{ 'Users'|trans }}{% endblock %}
{% block header_subtitle %}{{ 'Users list'|trans }}{% endblock %}

{% block content %}
    <div class="row gy-5 g-xl-12">
        <div class="col-xl-12">
            <div class="card mb-5 mb-xl-12">
                <div class="card-header border-0 pt-5">
                    <div class="card-title align-items-start flex-column">
                        <div class="d-flex align-items-center position-relative my-1">
                                        <span class="icon position-absolute ms-6">
													 <i class="bi bi-search"></i>
												</span>
                            <input type="text" data-kt-user-table-filter="search"
                                   class="form-control form-control-solid w-250px ps-14"
                                   placeholder="{{ "Search user"|trans }}"/>
                        </div>
                    </div>
                    <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
                         title="" data-bs-original-title="{{ 'Click to add a new user'|trans }}">
                        <a href="{{ path('backoffice.user.new') }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-plus"></i>
                            {{ 'Add user'|trans }}</a>
                    </div>
                </div>
                <div class="card-body py-3">
                    <div class="table-responsive">
                        <table class="table align-middle table-row-dashed fs-6 gy-5" id="candidat_list">
                            <thead>
                            <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                <th class="min-w-125px">{{ 'Name'|trans }}</th>
                                <th class="min-w-125px">{{ 'Roles'|trans }}</th>
                                <th class="text-end min-w-125px">Actions</th>
                            </tr>
                            </thead>
                            <tbody class="text-gray-600 fw-bold">
                            {% for user in users %}
                                <tr>
                                    <td>
                                        <span class="text-gray-800 text-hover-primary mb-1">{{ user.username }}</span>
                                    </td>
                                    <td>
                                        {{ user.roles[0] }}
                                    </td>
                                    <td class="text-end">
                                        <a href="{{ path('backoffice.user.edit', {'id': user.id}) }}"
                                           class="btn btn-sm btn-light-primary">
                                            <i class="fa fa-file-alt"></i>
                                            {{ 'Edition'|trans }}</a>
                                        <form method="post" action="{{ path('backoffice.user.delete',{id: user.id}) }}"
                                              style="display: inline-block"
                                              onsubmit="return confirm('Voulez-vous supprimer cet élément ?');">
                                            <input name="_method" type="hidden" value="DELETE"/>
                                            <input type="hidden" name="_token"
                                                   value="{{ csrf_token('user.delete' ~ user.id) }}"/>
                                            <button class="btn btn-sm btn-light-danger">
                                                <i class="fas fa-trash-alt"></i>
                                                {{ 'Delete'|trans }}</button>
                                        </form>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">Pas d'enregistrement</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset("plugins/custom/datatables/datatables.bundle.js") }}"></script>
    <script src="{{ asset("js/custom/apps/candidat/table.js") }}"></script>
{% endblock %}